h1 {
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinningImage {
    animation: spin 4s linear infinite;
}


#col1 {
    float: left;
    width: 30%;
}

#col2 {
    float: left;
    width: 70%;
}

body {
    background-color: pink;
}


